body {
    background-color: #FFFFFF;
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    background-color: #1f2937;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40em;
}

.nav-logo-container {
    display: flex;
}

.team-logo {
    width: 60px;
    filter: invert();
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}

a:link, a:visited, a:hover, a:active {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.section-1 {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: left;
}

.title {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.section-1-container {
    display: flex;
    align-content: space-evenly;
    gap: 3em;
    padding: 4em 10em;
}

.team-photo {
    width: 360px;
}